<div class="app-container">
    <!--navbar-->
    <app-navbar></app-navbar>
    <!--page-->
    <main class="flex-grow-1">
      <!--title-->
      <div class="container-fluid bg-warning d-flex justify-content-center">
        <div class="container text-white container-consultoria d-flex justify-content-between mt-2">
          <h1>SERVICIOS DE EQUIPAMIENTO DE IT</h1>
          <div class="d-flex small mt-2">
            <a class="nav-link active link me-2" aria-current="page" routerLink="/inicio">Inicio</a>
            <p class="mx-2 next">>></p>
            <a class="nav-link link ms-2" aria-current="page" routerLink="/consultoria">Consultoría</a>
            <p class="mx-2 next">>></p>
            <a class="nav-link link ms-2">Servicios de equipamiento de IT</a>
          </div>
        </div>
      </div>
      <!--info-->
      <div class="container container-expandido">
        <div class="row">
          <!-- Image Section -->
          <div class="col-md-6 mt-5 mb-5">
            <img class="img-fluid" src="../../../../assets/img/consultoria/soluciones_de_equipamiento_de_ti.webp" alt="Servicios de equipamiento de IT" />
          </div>
          <!-- Text Section -->
          <div class="col-md-6 mt-5 mb-5">
            <p>
               Es una solución integral para empresas que necesitan equipos tecnológicos de alta calidad para operar de manera eficiente y productiva. Nuestro servicio incluye la provisión, instalación y mantenimiento de dispositivos de hardware, redes y periféricos, adaptados a las necesidades específicas de tu negocio. Contamos con una amplia gama de equipos, desde computadoras y servidores hasta redes de conectividad, ofreciendo asesoría técnica y soporte continuo para garantizar su buen funcionamiento.
            </p>
            <p>Nuestro servicio incluye:</p>
            <ul>
              <li>
                <strong>Provisión de hardware de última generación: </strong>
                <span>equipos como servidores, PCs, estaciones de trabajo, impresoras y más, para optimizar el rendimiento de tu empresa.</span>
              </li>
              <li>
                <strong>Instalación y configuración personalizada: </strong>
                <span>configuramos y optimizamos tus equipos para que se adapten a tus necesidades operativas.</span>
              </li>
              <li>
                <strong>Mantenimiento preventivo y correctivo: </strong>
                <span>realizamos mantenimiento regular y reparación de equipos para minimizar el tiempo de inactividad.</span>
              </li>
              <li>
                <strong>Soporte técnico continuo: </strong>
                <span>asistencia para resolver problemas técnicos de manera rápida y eficiente.</span>
              </li>
              <li>
                <strong>Gestión de inventarios de equipos: </strong>
                <span>te ayudamos a llevar un control eficiente de tus activos tecnológicos.</span>
              </li>
            </ul>
            <p>
              Con nuestro servicio, garantizamos que tu infraestructura tecnológica sea confiable, escalable y actualizada, apoyando el crecimiento y la eficiencia de tu empresa.
            </p>
          </div>
        </div>
      </div>
    </main>
    <!--footer-->
    <app-footer class="mt-auto"></app-footer>
</div>
