<div class="app-container">
<!--navbar-->
<app-navbar></app-navbar>
<!--page-->
<main class="flex-grow-1">
<!--title-->
<div class="container-fluid bg-warning d-flex justify-content-center">
  <div class="container text-white container-consultoria d-flex justify-content-between mt-2">
    <h1>ALMACENAMIENTO Y BACKUP</h1>
    <div class="d-flex small mt-2">
      <a class="nav-link active link me-2" aria-current="page" routerLink="/inicio">Inicio</a>
      <p class="mx-2 next">>></p>
      <a class="nav-link link ms-2" aria-current="page" routerLink="/servicio_tecnico">servicio técnico</a>
      <p class="mx-2 next">>></p>
      <a class="nav-link link ms-2">almacenamiento y backup</a>
    </div>
  </div>
</div>
<!--info-->
<div class="container container-expandido">
  <div class="row">
    <div class="col-md-6 mt-5 mb-5">
      <img class="img-fluid" src="../../../../assets/img/servicio_tecnico/soluciones_de_almacenamiento_y_backup.webp" alt="Virtualizacion de servidores" />
    </div>
    <div class="col-md-6 mt-5 mb-5">
      <p>Nuestro servicio de almacenamiento y backup está diseñado para proteger tu información de manera confiable y eficiente. Ofrecemos soluciones personalizadas que se adaptan a las necesidades de tu negocio, ya sea almacenamiento en la nube, copias de seguridad automáticas o recuperación de datos en caso de pérdidas inesperadas.</p>
      <p>Características del servicio:</p>
      <ul>
        <li><strong>Almacenamiento en la nube seguro:</strong><span> Protege tus archivos importantes con acceso rápido y seguro desde cualquier lugar.</span></li>
        <li><strong>Copias de seguridad automáticas:</strong><span> Configura copias de seguridad regulares para asegurar que tu información siempre esté respaldada.</span></li>
        <li><strong>Recuperación rápida de datos:</strong><span> En caso de una pérdida de información, recupera tus datos de manera eficiente y minimiza el impacto en tus operaciones.</span></li>
        <li><strong>Escalabilidad:</strong><span> A medida que tu empresa crece, nuestras soluciones de almacenamiento se adaptan para cubrir tus necesidades sin complicaciones adicionales.</span></li>
        <li><strong>Soporte especializado:</strong><span> Nuestro equipo de expertos está disponible para ayudarte en la configuración, el mantenimiento y la restauración de tus datos cuando lo necesites.</span></li>
      </ul>
      <p>Con nuestra experiencia en consultoría y servicio técnico, nos aseguramos de que tu empresa tenga un sistema de almacenamiento y backup confiable, seguro y adaptado a tus requerimientos específicos. Protege tu información con una solución confiable que te brinda tranquilidad y eficiencia operativa.</p>    
    </div>
  </div>
</div>
</main>
<!--footer-->
<app-footer class="mt-auto"></app-footer>
</div>