<!--navbar-->
<app-navbar></app-navbar>
<!--page-->
<!--title-->
<div class="container-fluid bg-warning d-flex justify-content-center">
  <div class="container text-white container-consultoria d-flex justify-content-between mt-2">
    <h1>VIRTUALIZACIÓN DE SERVIDORES</h1>
    <div class="d-flex small mt-2">
      <a class="nav-link active link me-2" aria-current="page" routerLink="/inicio">Inicio</a>
      <p class="mx-2 next">>></p>
      <a class="nav-link link ms-2" aria-current="page" routerLink="/servicio_tecnico">servicio tecnico</a>
      <p class="mx-2 next">>></p>
      <a class="nav-link link ms-2">Virtualizacion de servidores</a>
    </div>
  </div>
</div>
<!--info-->
<div class="container container-expandido">
  <div class="row">
    <div class="col-md-6 mt-5 mb-5">
      <img class="img-fluid" src="../../../../assets/img/servicio_tecnico/soluciones-virtualizacion-de-servidores.jpg" alt="Virtualizacion de servidores" />
    </div>
    <div class="col-md-6 mt-5 mb-5">
      <p>La virtualización de servidores es una solución adaptable, que permite la continuidad en el trabajo, mayor productividad y reducción de costos, espacio y energía.</p>
      <p>En el proceso de virtualización se genera más de un espacio de procesamiento dentro de un mismo servidor, por lo cual es posible tener más de un servidor, o PC virtual dentro de uno físico, sin importar su sistema operativo. Una de las mejores ventajas de esto, es que reduce el tiempo de parada del sistema frente a la recuperación de desastres.</p>
      <p>Estamos en la capacidad de poder ofrecer esta solución empleando como herramienta los principales productos de las marcas más influyentes en el mercado, dependiendo del entorno de trabajo, servidores a utilizar, presupuesto disponible y plataformas de trabajo.</p>
    </div>
  </div>
</div>
<!--footer-->
<app-footer class="mt-auto"></app-footer>