.background {
  background-color: #373839;
}

span {
  font-family: "PT Sans", sans-serif;
  color: #eaeaea;
  font-size: 14px;
  font-weight: 800;
}

p {
  font-family: "PT Sans", sans-serif;
  color: #9c9c9c;
  font-size: 12px;
  font-weight: 100;
}
a {
  color: #3fc7f1;
}

a:hover {
  color: orange;
}

.second_background {
  background-color: #282a2b;
}

.copyright {
  font-family: "PT Sans", sans-serif;
  font-size: 14px;
}
