<!--footer-->
<div class="container-fluid background text-light">
  <div class="container">
    <div class="row pt-5 pb-5">
      <div class="col-4">
        <p class="border-bottom"><span>DATOS DE CONTACTO</span></p>
        <div class="mt-4">
          <p class="m-0">
            Dirección: García Lorca 2479, José ingenieros (1702)
          </p>
          <p class="m-0">
            Buenos Aires - Argentina
          </p>
        </div>
        <p class="m-0">.</p>
        <div>
          <p class="fw-bold m-0">Symmetry - LB</p>
          <a
            href="mailto:lb.consultoriainformatica@gmail.com"
            class="text-decoration-none"
            >lb.consultoriainformatica&#64;gmail.com</a
          >
          <p>tel: 11 3594-9242</p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="footer second_background text-white-50 p-1">
  <div class="container">
    <p class="pt-3 copyright">© Symmetry - LB  -  Todos los derechos</p>
  </div>
</div>
