<div class="container-fluid bg-dark text-light">
  <div class="row p-2">
    <div class="col-4">
      <p class="border-bottom">Datos de contacto</p>
      <div class="mt-4">
        <p class="m-0">
          Dirección: Lorem ipsum dolor sit amet consectetur adipisicing elit.
        </p>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit.
        </p>
      </div>
      <div class="m-1">.</div>
      <div>
        <p class="fw-bold m-0">LB consultoría informática</p>
        <a
          href="mailto:lb.consultoriainformatica@gmail.com"
          class="text-decoration-none"
          >lb.consultoriainformatica&#64;gmail.com</a
        >
        <p>tel: 11 3594-9242</p>
      </div>
    </div>
  </div>
</div>
<div class="footer bg-black text-light p-1">
    <p class="pt-3">© Lorem  LB consultoría informática  -  Todos los derechos</p>
</div>
