<div class="app-container">
  <!--navbar-->
  <app-navbar></app-navbar>
  <!--page-->
  <main class="flex-grow-1">
    <!--title-->
    <div class="container-fluid bg-warning d-flex justify-content-center">
      <div
        class="container text-white container-consultoria d-flex justify-content-between mt-2"
      >
        <h1>NETWORKING Y CABLEADO ESTRUCTURADO</h1>
        <div class="d-flex small mt-2">
          <a
            class="nav-link active link me-2"
            aria-current="page"
            routerLink="/inicio"
            >Inicio</a
          >
          <p class="mx-2 next">>></p>
          <a
            class="nav-link link ms-2"
            aria-current="page"
            routerLink="/servicio_tecnico"
            >servicio técnico</a
          >
          <p class="mx-2 next">>></p>
          <a class="nav-link link ms-2">networking y cableado estructurado</a>
        </div>
      </div>
    </div>
    <!--info-->
    <div class="container container-expandido">
      <div class="row">
        <div class="col-md-6 mt-5 mb-5">
          <img
            class="img-fluid"
            src="../../../../assets/img/servicio_tecnico/soluciones_de_networking_y_cableado_estructurado.webp"
            alt="networking y cableado estructurado"
          />
        </div>
        <div class="col-md-6 mt-5 mb-5">
          <p>
            Nuestro servicio de networking y cableado estructurado ofrece la
            infraestructura sólida y confiable que tu empresa necesita para
            operar sin interrupciones. Diseñamos e implementamos redes
            eficientes y seguras que optimizan la conectividad y aseguran la
            comunicación fluida entre dispositivos y usuarios, adaptándose a las
            exigencias actuales y futuras de tu negocio.
          </p>
          <p>Características del servicio:</p>
          <ul>
            <li>
              <strong>Diseño y planificación de redes:</strong
              ><span>
                Analizamos tus necesidades y planificamos una red que maximice
                el rendimiento y la seguridad.</span
              >
            </li>
            <li>
              <strong>Instalación de cableado estructurado:</strong
              ><span>
                Realizamos instalaciones de cableado de alta calidad, asegurando
                una conectividad estable y escalable para todos tus equipos y
                dispositivos.</span
              >
            </li>
            <li>
              <strong>Configuración y optimización de redes:</strong
              ><span>
                Configuramos redes LAN, WAN, y redes inalámbricas para optimizar
                la conectividad en toda tu empresa.</span
              >
            </li>
            <li>
              <strong>Mantenimiento preventivo y correctivo:</strong
              ><span>
                Proveemos mantenimiento continuo y soporte técnico para asegurar
                que tu red funcione de manera óptima.</span
              >
            </li>
            <li>
              <strong>Soluciones escalables:</strong
              ><span>
                Nuestro enfoque permite que la infraestructura de red crezca
                junto a tu empresa sin necesidad de rediseños costosos.</span
              >
            </li>
          </ul>
          <p>
            Con una amplia experiencia en consultoría y servicio técnico,
            nuestro equipo ofrece soluciones de networking y cableado
            estructurado adaptadas a tus requerimientos. Desde pequeñas empresas
            hasta grandes corporaciones, brindamos una infraestructura de red
            que garantiza rendimiento, confiabilidad y seguridad para cada
            aspecto de tu negocio.
          </p>
        </div>
      </div>
    </div>
  </main>
  <!--footer-->
  <app-footer class="mt-auto"></app-footer>
</div>
