.container-fluid{
    height: 8vh;
    background-image: url(../../../assets/img/background/title-backg.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;

}

.container-nosotros{
    display: flex;
    align-items: center;
    
}

.next{
    color: #fff;
}

h1{
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    font-size: 22px;
}

p, .accordion-body{
    font-family: "PT Sans", sans-serif;
    color: #727272;
    font-size: 15px;
    font-weight: 100;
}
.accordion-body, .accordion-button{
    background-color: #f7f7f7;
}

.accordion-button{
    border: none;
  outline: none;
  box-shadow: none;
    background-color: #f7f7f7;
}

.card-title{
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 13px;
}
