<!--navbar-->
<app-navbar></app-navbar>
<!--nosotros-->
<div class="container-fluid bg-warning d-flex justify-content-center">
  <div
    class="container text-white container-nosotros d-flex justify-content-between mt-2"
  >
    <h1>NOSOTROS</h1>
    <div class="d-flex small mt-2">
      <a class="nav-link active link me-2" aria-current="page" routerLink="/inicio"
        >Inicio</a
      >
      <p class="mx-2"> >> </p>
      <a class="nav-link link ms-2">Nosotros</a>
    </div>
  </div>
</div>
<div class="container">
  <img src="../../../assets/img/nosotros/grupal.jpg" alt="nosotros" class="img-fluid"/>
</div>
<div class="container d-flex align-items-center">
  <h1 class="me-3">¿QUIENES SOMOS?</h1>
  <div class="flex-grow-1 border-top border-black"></div>
</div>
<div class="container mt-4 mb-5">
  <p>
    LB Consultoría informática es un integrador, orientado a brindar soluciones
    tecnológicas a la medida de su negocio.
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque eveniet
    quibusdam.
  </p>
  <p>
    Ofrecemos soluciones de calidad en cada requerimiento, acompañado de nuestro
    sello profesional y un excelente servicio de post venta.
  </p>
</div>
<div class="container d-flex align-items-center">
  <h1 class="me-3">¿POR QUÉ DEBERÍAS TRABAJAR CON LB?</h1>
  <div class="flex-grow-1 border-top border-black"></div>
</div>
<div class="container">
  <div class="row">
    <div class="col">
      <div class="card mt-4 mb-5" style="width: 30rem">
        <div class="card-body">
          <h5 class="card-title">NUESTRA DIFERENCIA</h5>
          <ul class="card-text">
            <li>
              <p>
                Ofrecemos soluciones de calidad en cada requerimiento acompañado
                de nuestro sello profesional, un excelente servicio de
                post-venta, el cual se encuentra avalado por las certificaciones
                obtenidas y las marcas a las que representamos.
              </p>
            </li>
            <li>
              <p>
                Estamos comprometidos a colaborar, de manera inteligente e
                innovadora, con el éxito de su negocio, asegurando que nuestras
                propuestas den respuestas inmediata, precisas y eficiente a sus
                requerimientos.
              </p>
            </li>
            <li>
              <p>
                Enfocados en brindar soluciones, debido a ello, contamos con una
                amplia cartera de propuestas, teniendo en cuenta las últimas
                tendencias del mercado, para asegurar una notable mejora en sus
                negocios.
              </p>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card mt-4 mb-4" style="width: 30rem">
        <div class="card-body">
          <h5 class="card-title">MISIÓN</h5>
          <p class="card-text">
            Ofrecemos soluciones de calidad en cada requerimiento acompañado de
            nuestro sello profesional, un excelente servicio de post-venta, el
            cual se encuentra avalado por las certificaciones obtenidas y las
            marcas a las que representamos.
          </p>
        </div>
      </div>
      <div class="card mt-4 mb-4" style="width: 30rem">
        <div class="card-body">
          <h5 class="card-title">VISION</h5>
          <p class="card-text">
            Ser reconocidos como una empresa integradora de soluciones a nivel
            nacional, así como también, ser uno de los mayores influenciadores y
            fuente de información en temas relacionados a la tecnología.
          </p>
        </div>
      </div>
      <div class="card d-flex flex-column mt-4 mb-4" style="width: 30rem">
        <div class="card-body">
          <h5 class="card-title">VALORES</h5>
          <p class="card-text mt-3 m-0">Transparencia</p>
          <p class="card-text m-0">Honestidad</p>
          <p class="card-text m-0">Compromiso</p>
          <p class="card-text m-0">Responsabilidad</p>
        </div>
      </div>
    </div>
  </div>
</div>
<!--footer-->
<app-footer></app-footer>
