<app-main-container>
  <app-title-container [title]="title" />
  <div class="container mt-5 mb-5">
    <img
      src="./assets/img/nosotros/grupal.webp"
      alt="nosotros"
      class="img-fluid"
    />
  </div>
  <div class="container d-flex align-items-center">
    <h1 class="me-3">¿QUIENES SOMOS?</h1>
    <div class="flex-grow-1 border-top border-black"></div>
  </div>
  <div class="container mt-4 mb-5">
    <p>
      Somos un equipo de expertos en tecnología dedicados a brindar soluciones a
      medida que impulsan el rendimiento y la eficiencia de los sistemas
      informáticos. Con años de experiencia en consultoría y soporte técnico,
      nuestra misión es ayudar a nuestros clientes a optimizar sus
      infraestructuras tecnológicas y resolver sus desafíos digitales. Nos
      especializamos en la evaluación de necesidades, la identificación de
      problemas y la implementación de mejoras tecnológicas efectivas.
    </p>
    <p>
      Nuestro enfoque se centra en ofrecer un servicio integral, que incluye
      desde la instalación y reparación de equipos hasta la actualización de
      sistemas operativos y aplicaciones. Ya sea que necesites asistencia
      técnica puntual o un análisis detallado para mejorar tus sistemas, estamos
      comprometidos en ofrecer soluciones personalizadas que se adapten a tus
      necesidades específicas.
    </p>
    <p>
      Lo que nos diferencia es nuestra pasión por la tecnología y el compromiso
      con la calidad. Trabajamos con dedicación para asegurarnos de que tu
      tecnología esté siempre optimizada, segura y funcionando de la mejor
      manera posible. Nuestro equipo está en constante formación para mantenerse
      actualizado con las últimas tendencias y avances tecnológicos, lo que nos
      permite ofrecer un servicio siempre innovador y confiable.
    </p>
  </div>
  <div class="container d-flex align-items-center">
    <h1 class="me-3">¿POR QUÉ DEBERÍAS TRABAJAR CON LB?</h1>
    <div class="flex-grow-1 border-top border-black"></div>
  </div>
  <div class="container my-5">
    <app-accordion />
  </div>
</app-main-container>
