<!--navbar-->
<app-navbar></app-navbar>
<!--page-->
<!--title-->
<div class="container-fluid bg-warning d-flex justify-content-center">
  <div
    class="container text-white container-consultoria d-flex justify-content-between mt-2"
  >
    <h1>FINANCIAMIENTO</h1>
    <div class="d-flex small mt-2">
      <a
        class="nav-link active link me-2"
        aria-current="page"
        routerLink="/inicio"
        >Inicio</a
      >
      <p class="mx-2 next">>></p>
      <a class="nav-link link ms-2">Financiamiento</a>
    </div>
  </div>
</div>
<!--image-->
<div class="container mt-5 mb-4">
  <img
    src="../../../assets/img/financiamiento/financial.jpg"
    alt="Financiamiento"
    class="img-fluid"
  />
</div>
<!--info-->
<div class="container mt-3 mb-4">
  <p>
    Brindamos a nuestros clientes la posibilidad de financiar los proyectos.
    Damos el apoyo necesario a las empresas que deseen adquirir equipamiento y/o
    soluciones de mejora para sus negocios, de manera eficiente y eficaz.
  </p>
</div>
<!--footer-->
<app-footer></app-footer>
