.letter-spacing {
    letter-spacing: 2px; /* Puedes ajustar el valor según lo que desees */
  }
.text-decoration-none{
    text-decoration: none;
    color: inherit;
  }
  @media (max-width: 750px) {
    .logo{
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 15%;
    }
    
  }
