<div class="app-container">
  <!--navbar-->
  <app-navbar></app-navbar>
  <!--page-->
  <main class="flex-grow-1">
    <!--title-->
    <div class="container-fluid bg-warning d-flex justify-content-center">
      <div
        class="container text-white container-consultoria d-flex justify-content-between mt-2"
      >
        <h1>VIRTUALIZACIÓN DE SERVIDORES</h1>
        <div class="d-flex small mt-2">
          <a
            class="nav-link active link me-2"
            aria-current="page"
            routerLink="/inicio"
            >Inicio</a
          >
          <p class="mx-2 next">>></p>
          <a
            class="nav-link link ms-2"
            aria-current="page"
            routerLink="/servicio_tecnico"
            >servicio técnico</a
          >
          <p class="mx-2 next">>></p>
          <a class="nav-link link ms-2">virtualización de servidores</a>
        </div>
      </div>
    </div>
    <!--info-->
    <div class="container container-expandido">
      <div class="row">
        <div class="col-md-6 mt-5 mb-5">
          <img
            class="img-fluid"
            src="../../../../assets/img/servicio_tecnico/soluciones-virtualizacion-de-servidores.webp"
            alt="virtualización de servicios"
          />
        </div>
        <div class="col-md-6 mt-5 mb-5">
          <p>
            Nuestro servicio de virtualización de servidores proporciona a tu
            empresa una infraestructura ágil y eficiente que maximiza el
            rendimiento y optimiza el uso de recursos. Con la virtualización,
            puedes reducir costos, mejorar la flexibilidad y gestionar múltiples
            entornos de servidor en una sola plataforma, todo ello sin
            comprometer la seguridad ni el rendimiento.
          </p>
          <p>Características del servicio:</p>
          <ul>
            <li>
              <strong>Optimización de recursos:</strong>
              <span>
                Consolidamos múltiples servidores en un único entorno físico,
                maximizando el uso de hardware y minimizando el consumo
                energético.</span
              >
            </li>
            <li>
              <strong>Ahorro de costos:</strong>
              <span>
                Reduce los costos asociados a la adquisición y mantenimiento de
                hardware, con menos equipos físicos y menor necesidad de
                espacio.</span
              >
            </li>
            <li>
              <strong>Escalabilidad:</strong>
              <span>
                Incrementa la capacidad de tu infraestructura sin
                complicaciones, adaptando los recursos virtuales a la demanda de
                tu empresa.</span
              >
            </li>
            <li>
              <strong>Recuperación ante desastres:</strong>
              <span>
                Proporcionamos opciones de respaldo y recuperación rápidas para
                garantizar la continuidad del negocio en caso de fallos o
                pérdida de datos.</span
              >
            </li>
            <li>
              <strong>Gestión centralizada:</strong>
              <span>
                Controla y administra todos tus entornos virtuales desde una
                plataforma unificada, con herramientas de monitoreo y
                optimización de rendimiento.</span
              >
            </li>
          </ul>
          <p>
            Con nuestra experiencia en consultoría y servicio técnico, ayudamos
            a las empresas a aprovechar al máximo las ventajas de la
            virtualización de servidores, adaptándonos a las necesidades de cada
            cliente. Nos aseguramos de que tu infraestructura sea flexible,
            segura y eficiente, permitiendo que tu empresa se concentre en sus
            objetivos principales.
          </p>
        </div>
      </div>
    </div>
  </main>
  <!--footer-->
  <app-footer class="mt-auto"></app-footer>
</div>
