<!--navbar-->
<app-navbar></app-navbar>
<!--page-->
<!--title-->
<div class="container-fluid bg-warning d-flex justify-content-center">
  <div class="container text-white container-consultoria d-flex justify-content-between mt-2">
    <h1>NETWORKING Y CABLEADO ESTRUCTURADO</h1>
    <div class="d-flex small mt-2">
      <a class="nav-link active link me-2" aria-current="page" routerLink="/inicio">Inicio</a>
      <p class="mx-2 next">>></p>
      <a class="nav-link link ms-2" aria-current="page" routerLink="/servicio_tecnico">servicio tecnico</a>
      <p class="mx-2 next">>></p>
      <a class="nav-link link ms-2">Networking y cableado estructurado</a>
    </div>
  </div>
</div>
<!--info-->
<div class="container container-expandido">
  <div class="row">
    <div class="col-md-6 mt-5 mb-5">
      <img class="img-fluid" src="../../../../assets/img/servicio_tecnico/soluciones_de_networking_y_cableado_estructurado.jpg" alt="Soluciones de almacenamiento y backup" />
    </div>
    <div class="col-md-6 mt-5 mb-5">
      <p>Se puede decir que por cableado estructurado se entiende al sistema de cableado común, ya se trate de pares trenzados de cobre, cables coaxiales o fibra óptica, capaz de integrar tanto los servicios de voz, datos y vídeo, como sistemas de control y automatización de un edificio, de forma estandarizada.</p>
      <p>En la práctica, la utilización de un sistema de cableado estructurado permite establecer una infraestructura de telecomunicaciones en un edificio completo, ofreciendo una amplia flexibilidad en la instalación. Al estar estandarizado, aporta independencia respecto a proveedores determinados y proporciona capacidad de crecimiento de forma más sencilla.</p>
      <p>Ofrecemos el Análisis de Conectividad e Instalación de cableado estructurado para redes</p>
    </div>
  </div>
</div>
<!--footer-->
<app-footer class="mt-auto"></app-footer>