<div class="app-container">
<!--navbar-->
<app-navbar></app-navbar>
<!--page-->
<main class="flex-grow-1">
<!--title-->
<div class="container-fluid bg-warning d-flex justify-content-center">
  <div class="container text-white container-consultoria d-flex justify-content-between mt-2">
    <h1>REPARACIÓN DE TV</h1>
    <div class="d-flex small mt-2">
      <a class="nav-link active link me-2" aria-current="page" routerLink="/inicio">Inicio</a>
      <p class="mx-2 next">>></p>
      <a class="nav-link link ms-2" aria-current="page" routerLink="/servicio_tecnico">servicio técnico</a>
      <p class="mx-2 next">>></p>
      <a class="nav-link link ms-2">reparación de tv</a>
    </div>
  </div>
</div>
<!--info-->
<div class="container container-expandido">
  <div class="row">
    <div class="col-md-6 mt-5 mb-5">
      <img class="img-fluid " src="../../../../assets/img/servicio_tecnico/reparacion_tv.webp" alt="reparación de tv" />
    </div>
    <div class="col-md-6 mt-5 mb-5">
      <p>En LB, ofrecemos un servicio de reparación de televisores rápido, confiable y profesional, para que disfrutes de la mejor calidad de imagen y sonido en tu hogar o negocio. Nuestro equipo de técnicos altamente capacitados se especializa en la reparación de una amplia variedad de marcas y modelos, desde televisores LED y LCD hasta televisores inteligentes y de alta definición.</p>
      <p>Nos comprometemos a:</p>
      <ul>
        <li><strong>Diagnóstico preciso y transparente</strong><span>, identificando de manera rápida el problema y explicándote las soluciones disponibles.</span></li>
        <li><strong>Reparaciones de calidad</strong><span>, utilizando piezas originales y procedimientos seguros para restaurar tu televisor a su mejor estado.</span></li>
        <li><strong>Atención personalizada</strong><span> para cada cliente, asegurando que entiendas el proceso y recibas un servicio que cumpla con tus expectativas.</span></li>
        <li><strong>Garantía de satisfacción</strong><span>, respaldando nuestro trabajo con garantía para brindarte total tranquilidad.</span></li>
      </ul>
      <p>Confía en LB para devolverle vida a tu televisor y asegurar entretenimiento sin interrupciones.</p>
    </div>
  </div>
</div>
</main>
<!--footer-->
<app-footer class="mt-auto"></app-footer>
</div>