<div class="app-container">
    <!--navbar-->
    <app-navbar></app-navbar>
    <!--page-->
    <main class="flex-grow-1">
      <!--title-->
      <div class="container-fluid bg-warning d-flex justify-content-center">
        <div
          class="container text-white container-consultoria d-flex justify-content-between mt-2"
        >
          <h1>LICENCIAMIENTO DE SOFTWARE</h1>
          <div class="d-flex small mt-2">
            <a
              class="nav-link active link me-2"
              aria-current="page"
              routerLink="/inicio"
              >Inicio</a
            >
            <p class="mx-2 next">>></p>
            <a
              class="nav-link link ms-2"
              aria-current="page"
              routerLink="/servicio_tecnico"
              >servicio técnico</a
            >
            <p class="mx-2 next">>></p>
            <a class="nav-link link ms-2">licenciamiento de software</a>
          </div>
        </div>
      </div>
      <!--info-->
      <div class="container container-expandido">
        <div class="row">
          <div class="col-md-6 mt-5 mb-5">
            <img
              class="img-fluid"
              src="../../../../assets/img/servicio_tecnico/soluciones_de_licencias_de_software.webp"
              alt="licenciamiento de software"
            />
          </div>
          <div class="col-md-6 mt-5 mb-5">
            <p>
              Nuestro servicio de licenciamiento de software te ayuda a gestionar y optimizar
              las licencias de los programas que tu empresa necesita para operar eficientemente.
              Ofrecemos asesoría para obtener licencias legales y personalizadas que se adapten
              a tu infraestructura tecnológica, reduciendo riesgos y asegurando el cumplimiento
              normativo.
            </p>
            <p>Características del servicio:</p>
            <ul>
              <li>
                <strong>Asesoría personalizada:</strong>
                <span> Te ayudamos a seleccionar las licencias de software que mejor se adaptan
                a las necesidades de tu empresa, optimizando recursos y costos.</span>
              </li>
              <li>
                <strong>Gestión de licencias:</strong>
                <span> Nos encargamos de la administración de tus licencias, asegurando que todos
                los programas estén actualizados y en conformidad con las políticas de uso.</span>
              </li>
              <li>
                <strong>Cumplimiento normativo:</strong>
                <span> Evita problemas legales y sanciones con nuestra gestión de licencias,
                garantizando que todos los programas estén legalmente autorizados.</span>
              </li>
              <li>
                <strong>Escalabilidad:</strong>
                <span> Te ayudamos a ajustar y expandir las licencias de software a medida que tu
                empresa crece, manteniendo la eficiencia y el control de costos.</span>
              </li>
              <li>
                <strong>Soporte técnico especializado:</strong>
                <span> Nuestro equipo de soporte está siempre disponible para resolver dudas y
                brindarte asistencia en el uso y administración de tus licencias.</span>
              </li>
            </ul>
            <p>
              Contamos con experiencia en consultoría y servicio técnico, y entendemos la importancia
              de un licenciamiento adecuado para el éxito de tu empresa. Con nosotros, obtendrás un
              servicio confiable que garantiza el cumplimiento legal y una optimización de tus
              recursos tecnológicos.
            </p>
          </div>
        </div>
      </div>
    </main>
    <!--footer-->
    <app-footer class="mt-auto"></app-footer>
  </div>
  
