<div class="app-container">
    <!--navbar-->
    <app-navbar></app-navbar>
    <!--page-->
    <main class="flex-grow-1">
      <!--title-->
      <div class="container-fluid bg-warning d-flex justify-content-center">
        <div class="container text-white container-consultoria d-flex justify-content-between mt-2">
          <h1>SERVICIOS DASS - DEVICE AS A SERVICE</h1>
          <div class="d-flex small mt-2">
            <a class="nav-link active link me-2" aria-current="page" routerLink="/inicio">Inicio</a>
            <p class="mx-2 next">>></p>
            <a class="nav-link link ms-2" aria-current="page" routerLink="/consultoria">Consultoría</a>
            <p class="mx-2 next">>></p>
            <a class="nav-link link ms-2">Servicios DASS</a>
          </div>
        </div>
      </div>
      <!--info-->
      <div class="container container-expandido">
        <div class="row">
          <!-- Image Section -->
          <div class="col-md-6 mt-5 mb-5">
            <img class="img-fluid" src="../../../../assets/img/consultoria/daas.webp" alt="Servicios DASS - Device as a Service" />
          </div>
          <!-- Text Section -->
          <div class="col-md-6 mt-5 mb-5">
            <p>
              Contamos con soluciones completas que te permiten acceder a dispositivos tecnológicos de última generación sin tener que preocuparte por la compra, mantenimiento o renovación. Este servicio es ideal para empresas que buscan una gestión eficiente y flexible de sus equipos tecnológicos, permitiendo la actualización constante sin necesidad de realizar inversiones grandes en hardware.
            </p>
            <p>Nuestro servicio incluye:</p>
            <ul>
              <li>
                <strong>Provisión de dispositivos tecnológicos: </strong> 
                <span>acceso a equipos modernos sin necesidad de realizar compras iniciales.</span>
              </li>
              <li>
                <strong>Mantenimiento y soporte completo: </strong> 
                <span>gestión de todo el ciclo de vida del dispositivo, asegurando su funcionamiento óptimo.</span>
              </li>
              <li>
                <strong>Actualizaciones periódicas: </strong> 
                <span>garantía de que siempre cuentas con tecnología actualizada.</span>
              </li>
              <li>
                <strong>Gestión de dispositivos: </strong> 
                <span>monitoreo y control remoto de tus equipos para asegurarte que están siempre operativos.</span>
              </li>
              <li>
                <strong>Flexibilidad de contrato: </strong> 
                <span>opciones adaptadas a las necesidades específicas de tu empresa, con contratos flexibles y escalables.</span>
              </li>
            </ul>
            <p>
              Con LB, optimiza el uso de tecnología en tu empresa, garantizando eficiencia, flexibilidad y ahorro en la gestión de equipos tecnológicos.
            </p>
          </div>
        </div>
      </div>
    </main>
    <!--footer-->
    <app-footer class="mt-auto"></app-footer>
</div>

  