<div class="app-container">
  <!--navbar-->
  <app-navbar></app-navbar>
  <!--page-->
  <main class="flex-grow-1">
    <!--title-->
    <div class="container-fluid bg-warning d-flex justify-content-center">
      <div class="container text-white container-consultoria d-flex justify-content-between mt-2">
        <h1>SERVICIOS DE CONECTIVIDAD Y ENLACES</h1>
        <div class="d-flex small mt-2">
          <a class="nav-link active link me-2" aria-current="page" routerLink="/inicio">Inicio</a>
          <p class="mx-2 next">>></p>
          <a class="nav-link link ms-2" aria-current="page" routerLink="/consultoria">Consultoría</a>
          <p class="mx-2 next">>></p>
          <a class="nav-link link ms-2">Servicios de conectividad y enlaces</a>
        </div>
      </div>
    </div>
    <!--info-->
    <div class="container container-expandido">
      <div class="row">
        <!-- Image Section -->
        <div class="col-md-6 mt-5 mb-5">
          <img class="img-fluid" src="../../../../assets/img/consultoria/enlace.webp" alt="Servicios de conectividad y enlaces" />
        </div>
        <!-- Text Section -->
        <div class="col-md-6 mt-5 mb-5">
          <p>En LB, ofrecemos soluciones avanzadas de conectividad y enlace para garantizar una comunicación ágil, confiable y segura entre tus sistemas y ubicaciones.</p>
          <p>
            Nuestro servicio está diseñado para empresas que buscan optimizar su infraestructura tecnológica, asegurando un intercambio de datos rápido y eficiente en todo momento. Nos especializamos en implementar soluciones escalables y personalizadas que se adaptan a las necesidades específicas de tu negocio.
          </p>
          <p>Nuestro servicio incluye:</p>
          <ul>
            <li>
              <strong>Diseño e implementación de redes: </strong> 
              <span>soluciones adaptadas a la arquitectura de tu empresa para maximizar el rendimiento.</span>
            </li>
            <li>
              <strong>Enlaces dedicados de alta velocidad: </strong> 
              <span>para garantizar conexiones estables y seguras entre sucursales y centros de datos.</span>
            </li>
            <li>
              <strong>Monitoreo y gestión de redes: </strong> 
              <span>con tecnología avanzada que asegura un rendimiento óptimo 24/7.</span>
            </li>
            <li>
              <strong>Soporte técnico especializado: </strong> 
              <span>asistencia proactiva para resolver problemas antes de que afecten tus operaciones.</span>
            </li>
            <li>
              <strong>Soluciones VPN: </strong> 
              <span>para proteger la comunicación remota y garantizar la privacidad de los datos.</span>
            </li>
          </ul>
          <p>
            Confía en LB para mantener a tu empresa conectada con soluciones de conectividad y enlace que impulsan la productividad y garantizan la continuidad operativa.
          </p>
        </div>
      </div>
    </div>
  </main>
  <!--footer-->
  <app-footer class="mt-auto"></app-footer>
</div>
