<div class="app-container">
<!--navbar-->
<app-navbar></app-navbar>
<!--page-->
<main class="flex-grow-1">
<!--title-->
<div class="container-fluid bg-warning d-flex justify-content-center">
  <div class="container text-white container-consultoria d-flex justify-content-between mt-2">
    <h1>SERVICIOS DE CONECTIVIDAD Y ENLACES</h1>
    <div class="d-flex small mt-2">
      <a class="nav-link active link me-2" aria-current="page" routerLink="/inicio">Inicio</a>
      <p class="mx-2 next">>></p>
      <a class="nav-link link ms-2" aria-current="page" routerLink="/consultoria">Consultoría</a>
      <p class="mx-2 next">>></p>
      <a class="nav-link link ms-2">Servicios de conectividad y enlaces</a>
    </div>
  </div>
</div>
<!--info-->
<div class="container container-expandido">
  <div class="row">
    <div class="col-md-6 mt-5 mb-5">
      <img class="img-fluid" src="../../../../assets/img/consultoria/enlace.webp" alt="Servicios de conectividad y enlaces" />
    </div>
    <div class="col-md-6 mt-5 mb-5">
      <p>Es un servicio pensado para clientes corporativos que utilizan Internet como una herramienta de trabajo y que precisan flexibilidad y dinamismo en su conexión. Se ofrece con diversas velocidades asimétricas, brindando al cliente la posibilidad de elegir las velocidades de downstream y upstream disponibles que se adecúen mejor a sus requerimientos. El tráfico de los Cablemódems es priorizado en el backbone, garantizando un servicio diferencial y de bajo costo para las empresas.</p>
    </div>
  </div>
</div>
</main>
<!--footer-->
<app-footer class="mt-auto"></app-footer>
</div>