<div id="carousel" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button
      type="button"
      data-bs-target="#carousel"
      data-bs-slide-to="0"
      class="active"
      aria-current="true"
      aria-label="Slide 1"
    ></button>
    <button
      type="button"
      data-bs-target="#carousel"
      data-bs-slide-to="1"
      aria-label="Slide 2"
    ></button>
    <button
      type="button"
      data-bs-target="#carousel"
      data-bs-slide-to="2"
      aria-label="Slide 3"
    ></button>
    <button
      type="button"
      data-bs-target="#carousel"
      data-bs-slide-to="3"
      aria-label="Slide 4"
    ></button>
    <button
      type="button"
      data-bs-target="#carousel"
      data-bs-slide-to="4"
      aria-label="Slide 5"
    ></button>
    <button
      type="button"
      data-bs-target="#carousel"
      data-bs-slide-to="5"
      aria-label="Slide 6"
    ></button>
    <button
      type="button"
      data-bs-target="#carousel"
      data-bs-slide-to="6"
      aria-label="Slide 7"
    ></button>
    <button
      type="button"
      data-bs-target="#carousel"
      data-bs-slide-to="7"
      aria-label="Slide 8"
    ></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <div
        class="overlay-image"
        style="
          background-image: url(../../../assets/img/carousel/consultoria.webp);
        "
      ></div>
      <div
        class="carousel-caption d-flex align-items-center justify-content-center h-100"
      >
        <h5 class="text-center text-white fs-1 mt-4">Consultoría</h5>
      </div>
    </div>
    <div class="carousel-item">
      <div
        class="overlay-image"
        style="
          background-image: url(../../../assets/img/carousel/evaluacion_cliente.webp);
        "
      ></div>
      <div
        class="carousel-caption d-flex align-items-center justify-content-center h-100"
      >
        <h5 class="text-center text-white fs-1 mt-4">
          Evaluación de las necesidades del cliente
        </h5>
      </div>
    </div>
    <div class="carousel-item">
      <div
        class="overlay-image"
        style="
          background-image: url(../../../assets/img/carousel/indentificacion_problemas_oportunidades.webp);
        "
      ></div>
      <div
        class="carousel-caption d-flex align-items-center justify-content-center h-100"
      >
        <h5 class="text-center text-white fs-1 mt-4">
          Identificación de problemas y oportunidades de trabajo
        </h5>
      </div>
    </div>
    <div class="carousel-item">
      <div
        class="overlay-image"
        style="
          background-image: url(../../../assets/img/carousel/eficacia_eficiencia_efectividad.webp);
        "
      ></div>
      <div
        class="carousel-caption d-flex align-items-center justify-content-center h-100"
      >
        <h5 class="text-center text-white fs-1 mt-4">
          Eficacia,eficiencia y efectividad de sus sistemas informáticos
        </h5>
      </div>
    </div>
    <div class="carousel-item">
      <div
        class="overlay-image"
        style="
          background-image: url(../../../assets/img/carousel/servicio_tecnico.webp);
        "
      ></div>
      <div
        class="carousel-caption d-flex align-items-center justify-content-center h-100"
      >
        <h5 class="text-center text-white fs-1 mt-4">Servicio técnico</h5>
      </div>
    </div>
    <div class="carousel-item">
      <div
        class="overlay-image"
        style="
          background-image: url(../../../assets/img/carousel/consultoria.webp);
        "
      ></div>
      <div
        class="carousel-caption d-flex align-items-center justify-content-center h-100"
      >
        <h5 class="text-center text-white fs-1 mt-4">
          Instalación de aplicaciones
        </h5>
      </div>
    </div>
    <div class="carousel-item">
      <div
        class="overlay-image"
        style="
          background-image: url(../../../assets/img/carousel/consultoria.webp);
        "
      ></div>
      <div
        class="carousel-caption d-flex align-items-center justify-content-center h-100"
      >
        <h5 class="text-center text-white fs-1 mt-4">
          Optimización, armado y actualización de equipos
        </h5>
      </div>
    </div>
    <div class="carousel-item">
      <div
        class="overlay-image"
        style="
          background-image: url(../../../assets/img/carousel/consultoria.webp);
        "
      ></div>
      <div
        class="carousel-caption d-flex align-items-center justify-content-center h-100"
      >
        <h5 class="text-center text-white fs-1 mt-4">
          Reparación de equipos, formateo e instalación de sistemas operativos
        </h5>
      </div>
    </div>
  </div>
  <button
    class="carousel-control-prev"
    type="button"
    data-bs-target="#carousel"
    data-bs-slide="prev"
  >
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button
    class="carousel-control-next"
    type="button"
    data-bs-target="#carousel"
    data-bs-slide="next"
  >
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
