<!--navbar-->
<app-navbar></app-navbar>
<!--page-->
<!--title-->
<div class="container-fluid bg-warning d-flex justify-content-center">
  <div
    class="container text-white container-consultoria d-flex justify-content-between mt-2"
  >
    <h1>SERVICIOS DE DIGITALIZACIÓN</h1>
    <div class="d-flex small mt-2">
      <a
        class="nav-link active link me-2"
        aria-current="page"
        routerLink="/inicio"
        >Inicio</a
      >
      <p class="mx-2 next">>></p>
      <a
        class="nav-link link ms-2"
        aria-current="page"
        routerLink="/consultoria"
        >Consultoría</a
      >
      <p class="mx-2 next">>></p>
      <a class="nav-link link ms-2"> Servicios de digitalización</a>
    </div>
  </div>
</div>
<!--info-->
<div class="container container-expandido">
  <div class="row">
    <div class="col-md-6 mt-5 mb-5">
      <img
        class="img-fluid"
        src="../../../../assets/img/consultoria/digitalizacion.jpg"
        alt="
      Servicios de digitalización"
      />
    </div>
    <div class="col-md-6 mt-5 mb-5">
      <p>
        La digitalización es el proceso de captura de documentos en papel u otro
        soporte físico en imágenes digitales y su posterior clasificación para
        una consulta rápida y precisa. Contamos con el equipamiento necesario
        para procesar cada documento generando una copia clara y liviana.
        Contamos con una solución especialmente diseñada para realizar la
        captura de los datos y clasificar la documentación utilizando
        tecnologías automáticas de reconocimiento de texto, código de barras,
        reconocimento de marcas, etc. El sistema de gestión permite que siempre
        puedas encontrar tu documentación sin inconvenientes.
      </p>
    </div>
  </div>
</div>
<!--footer-->
<app-footer class="mt-auto"></app-footer>
