<div class="app-container">
  <!--navbar-->
  <app-navbar></app-navbar>
  <!--page-->
  <main class="flex-grow-1">
    <!--title-->
    <div class="container-fluid bg-warning d-flex justify-content-center">
      <div
        class="container text-white container-consultoria d-flex justify-content-between mt-2"
      >
        <h1>SERVICIOS DE DIGITALIZACIÓN</h1>
        <div class="d-flex small mt-2">
          <a
            class="nav-link active link me-2"
            aria-current="page"
            routerLink="/inicio"
            >Inicio</a
          >
          <p class="mx-2 next">>></p>
          <a
            class="nav-link link ms-2"
            aria-current="page"
            routerLink="/consultoria"
            >Consultoría</a
          >
          <p class="mx-2 next">>></p>
          <a class="nav-link link ms-2"> Servicios de digitalización</a>
        </div>
      </div>
    </div>
    <!--info-->
    <div class="container container-expandido">
      <div class="row">
        <!-- Image Section -->
        <div class="col-md-6 mt-5 mb-5">
          <img
            class="img-fluid"
            src="../../../../assets/img/consultoria/digitalizacion.webp"
            alt="Servicios de digitalización"
          />
        </div>
        <!-- Text Section -->
        <div class="col-md-6 mt-5 mb-5">
          <p>
            Con soluciones de digitalización que mejoran la gestión de tu información y agilizan tus procesos. Transformamos documentos físicos en archivos digitales organizados, permitiendo un acceso rápido y seguro a la información. Nuestro enfoque se centra en brindar soluciones a medida que faciliten la transición hacia una operación más eficiente y conectada.
          </p>
          <p>Nuestro servicio incluye:</p>
          <ul>
            <li>
              <strong>Escaneo y conversión de documentos: </strong> 
              <span>utilizamos tecnología avanzada para garantizar una digitalización de alta calidad.</span>
            </li>
            <li>
              <strong>Indexación y clasificación de datos: </strong> 
              <span>organizamos tus documentos de manera lógica para facilitar la búsqueda y el acceso.</span>
            </li>
            <li>
              <strong>Integración con sistemas digitales: </strong> 
              <span>conectamos tus archivos digitalizados con herramientas de gestión documental.</span>
            </li>
            <li>
              <strong>Protección de la información: </strong> 
              <span>aplicamos estrictos estándares de seguridad para resguardar tus datos.</span>
            </li>
            <li>
              <strong>Consultoría especializada: </strong> 
              <span>te asesoramos en cada etapa para garantizar un proceso fluido y adaptado a tus necesidades.</span>
            </li>
          </ul>
          <p>
            Aprovecha las ventajas de la digitalización con LB, donde combinamos tecnología y experiencia para ayudarte a optimizar tu negocio y prepararte para los retos del futuro.
          </p>
        </div>
      </div>
    </div>
  </main>
  <!--footer-->
  <app-footer class="mt-auto"></app-footer>
</div>
