<div class="container-fluid background-color-gray text-light">
  <div class="container">
    <div class="row pt-5 pb-5">
      <div class="col-lg-4">
        <p class="border-bottom"><span>DATOS DE CONTACTO</span></p>
        <div class="mt-4">
          <div class="m-0">
            <p class="m-0">
              Dirección: García Lorca 2479, José ingenieros (1702)
            </p>
            <p class="m-0">Buenos Aires - Argentina</p>
          </div>
          <p class="m-0">.</p>
        </div>
        <p class="fw-bold m-0">LB - contáctenos</p>
        <div class="icon-list py-2">
          <a
            href="mailto:lb.consultoriainformatica@gmail.com"
            
            ><fa-icon [icon]="faEnvelope"></fa-icon
          ></a>
          <a
            href="https://wa.me/1135949242"
            target="_blank"
            
            ><fa-icon [icon]="faWhatsapp"></fa-icon
          ></a>
        </div>
      </div>
    </div>
  </div>
</div>
