<!--navbar-->
<app-navbar></app-navbar>
<!--home-->
<div class="container d-flex justify-content-center">
  <!--carousel-->
  <div
    id="carouselExampleAutoplaying"
    class="carousel carousel-dark slide"
    data-bs-ride="carousel"
  >
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide-to="2" aria-label="Slide 3"></button>
    <button type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide-to="3" aria-label="Slide 4"></button>
    <button type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide-to="4" aria-label="Slide 5"></button>
    <button type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide-to="5" aria-label="Slide 6"></button>
    <button type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide-to="6" aria-label="Slide 7"></button>
    <button type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide-to="7" aria-label="Slide 8"></button>
  </div>
    <div class="carousel-inner">
      <div class="carousel-item active c-item">
        <img
          src="../../../assets/img/carousel/servicio-consultoria.webp"
          class="d-block c-img"
          alt="servicio de consultoría"
        />
        <div class="carousel-caption d-flex flex-column h-100 align-items-center justify-content-center bottom-0">
          <h3>Consultoría</h3>
        </div>
      </div>
      <div class="carousel-item c-item">
        <img
          src="../../../assets/img/carousel/evaluar-satisfaccion-cliente.webp"
          class="d-block w-100 c-img"
          alt="..."
        />
        <div class="carousel-caption d-flex flex-column h-100 align-items-center justify-content-center bottom-0">
          <h3>
            Evaluación de las necesidades del cliente y requerimientos
            tecnológicos
          </h3>
        </div>
      </div>
      <div class="carousel-item c-item">
        <img
          src="../../../assets/img/carousel/identificar-problemas-oportunidades.webp"
          class="d-block w-100 c-img"
          alt="..."
        />
        <div class="carousel-caption d-flex flex-column h-100 align-items-center justify-content-center bottom-0">
          <h3>Identificación de problemas y oportunidades de mejora</h3>
        </div>
      </div>
      <div class="carousel-item c-item">
        <img
          src="../../../assets/img/carousel/eficacia-eficiencia-efectividad.webp"
          class="d-block w-100 c-img"
          alt="..."
        />
        <div class="carousel-caption d-flex flex-column h-100 align-items-center justify-content-center bottom-0">
          <h3>
            Recomendaciones para maximizar la eficacia, eficiencia y efectividad
            de sus sistemas informáticos
          </h3>
        </div>
      </div>
      <div class="carousel-item c-item">
        <img
          src="../../../assets/img/carousel/servicio-tecnico.webp"
          class="d-block w-100 c-img"
          alt="..."
        />
        <div class="carousel-caption d-flex flex-column h-100 align-items-center justify-content-center bottom-0">
          <h3>Servicio técnico</h3>
        </div>
      </div>
      <div class="carousel-item c-item">
        <img
          src="../../../assets/img/carousel/instalar-aplicaciones.webp"
          class="d-block w-100 c-img"
          alt="..."
        />
        <div class="carousel-caption d-flex flex-column h-100 align-items-center justify-content-center bottom-0">
          <h3>Instalación de aplicaciones</h3>
        </div>
      </div>
      <div class="carousel-item c-item">
        <img
          src="../../../assets/img/carousel/actualizacion-equipo.webp"
          class="d-block w-100 c-img"
          alt="..."
        />
        <div class="carousel-caption d-flex flex-column h-100 align-items-center justify-content-center bottom-0">
          <h3>Optimización, armado y actualización de equipos.</h3>
        </div>
      </div>
      <div class="carousel-item c-item">
        <img
          src="../../../assets/img/carousel/reparacion-equipos.webp"
          class="d-block w-100 c-img"
          alt="..."
        />
        <div class="carousel-caption d-flex flex-column h-100 align-items-center justify-content-center bottom-0">
          <h3>
            Reparación de equipos, formateo e instalación de sistemas operativos
          </h3>
        </div>
      </div>
    </div>
    <button
      class="carousel-control-prev"
      type="button"
      data-bs-target="#carouselExampleAutoplaying"
      data-bs-slide="prev"
    >
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button
      class="carousel-control-next"
      type="button"
      data-bs-target="#carouselExampleAutoplaying"
      data-bs-slide="next"
    >
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>
<!--footer-->
<app-footer></app-footer>
