<app-main-container>
  <div class="container">
    <app-carrousel />
  </div>
  <div class="container">
    <p class="mt-lg-5 mt-sm-2 mb-sm-2">
      Ofrecemos consultoría especializada para evaluar las necesidades
      tecnológicas de tu empresa, identificar problemas y mejorar la eficiencia
      de tus sistemas. Brindamos recomendaciones para optimizar el rendimiento y
      ofrecemos servicio técnico integral, desde la instalación y reparación de
      equipos hasta la actualización de sistemas operativos y aplicaciones.
    </p>
    <div
      class="d-flex justify-content-center align-items-center mb-4 border-bottom border-secondary pb-4 pt-4"
    >
      <p class="sub-title">MARCAS CON LAS QUE TRABAJAMOS</p>
    </div>
    <app-second-carrousel />
  </div>
</app-main-container>