<!--navbar-->
<app-navbar></app-navbar>
<!--home-->
<!--carousel-->
<div class="container">
<app-carrousel></app-carrousel>
</div>
<!---->
<div class="container">
  <p class="mt-5">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid autem
    reiciendis aperiam dolores vero. Aut placeat fugiat sunt nisi deserunt alias
    molestiae, cumque molestias natus amet odit voluptatibus nihil? Deserunt?
  </p>
  <div
    class="d-flex justify-content-center align-items-center mb-4 border-bottom border-secondary pb-4 pt-4"
  >
    <p class="texto">MARCAS CON LAS QUE TRABAJAMOS</p>
  </div>
</div>
<!--second carrousel-->
<app-second-carrousel></app-second-carrousel>
<!--footer-->
<app-footer></app-footer>
