<div class="container">
    <p>
      Actualmente, una empresa no puede sobrevivir si no se alinea a la era
      tecnológica en la que estamos viviendo. Hay elementos básicos que no pueden
      faltar en una oficina, como son desktops, teléfonos, impresoras y sus
      distintos suplementos. LB cuenta con una amplia gama de productos, que van
      desde suministros de impresión hasta servidores, impresoras, plotters y
      demás, siempre de las mejores marcas en el mercado.
    </p>
    <p>
      Nosotros nos encargamos de que su producto sea el indicado según sus
      necesidades y que llegue intacto a sus manos y le damos el asesoramiento
      necesario, respecto al equipo o producto que haya solicitado.
    </p>
  </div>