
@media (max-width: 992px) {
    
    .navbar-brand {
      display: flex;
      flex-direction: column; 
      align-items: center; 
      padding: 0;
    }
  
    
    .navbar-brand .nav-item {
      width: 100%; 
      text-align: center; 
      padding: 10px 0;
    }
  
    
     .navbar-brand app-nav-link-element {
      display: block; /* Asegurarse de que cada enlace se muestre en un bloque completo */
      padding: 10px 15px; /* Espaciado dentro de los enlaces */
      font-size: 1.1rem; /* Aumentar el tamaño de la fuente */
      color: #333; /* Color de texto */
      text-decoration: none; /* Eliminar subrayado */
      
      transition: background-color 0.3s ease; /* Transición de fondo */
    }
  }
  