<div class="app-container">
  <!--navbar-->
  <app-navbar></app-navbar>
  <!--page-->
  <main class="flex-grow-1">
    <!--title-->
    <div class="container-fluid bg-warning d-flex justify-content-center">
      <div class="container text-white container-consultoria d-flex justify-content-between mt-2">
        <h1>SERVICIOS DE LOGÍSTICA & DISTRIBUCIÓN</h1>
        <div class="d-flex small mt-2">
          <a class="nav-link active link me-2" aria-current="page" routerLink="/inicio">Inicio</a>
          <p class="mx-2 next">>></p>
          <a class="nav-link link ms-2" aria-current="page" routerLink="/consultoria">Consultoría</a>
          <p class="mx-2 next">>></p>
          <a class="nav-link link ms-2">Servicios de logística & distribución</a>
        </div>
      </div>
    </div>
    <!--info-->
    <div class="container container-expandido">
      <div class="row">
        <!-- Image Section -->
        <div class="col-md-6 mt-5 mb-5">
          <img class="img-fluid" src="../../../../assets/img/consultoria/logistica.webp" alt="Servicios de logística & distribución" />
        </div>
        <!-- Text Section -->
        <div class="col-md-6 mt-5 mb-5">
          
          <p>
            En LB, ofrecemos un servicio profesional y eficiente de logística y distribución, diseñado para optimizar el flujo de tus operaciones. Nos especializamos en brindar soluciones personalizadas para empresas de todos los tamaños, asegurando la entrega puntual y segura de tus productos.
          </p>
          <p>
            Nuestro equipo altamente capacitado se encarga de gestionar cada aspecto del proceso logístico, desde la planificación estratégica hasta la ejecución y el seguimiento. Utilizamos herramientas avanzadas de gestión de transporte y almacenamiento, garantizando la máxima precisión y transparencia en cada envío.
          </p>
          <p>Además, nuestro servicio incluye: </p>
          <ul>
            <li>
              <strong>Análisis logístico inicial: </strong> 
              <span>evaluación de tus necesidades para diseñar la solución más eficiente.</span>
            </li>
            <li>
              <strong>Gestión de inventarios y almacenamiento: </strong> 
              <span>con tecnologías modernas para asegurar un control riguroso y eficiente.</span>
            </li>
            <li>
              <strong>Coordinación de transporte: </strong> 
              <span>con rutas optimizadas para garantizar entregas rápidas y seguras.</span>
            </li>
            <li>
              <strong>Seguimiento en tiempo real: </strong> 
              <span>para que siempre sepas dónde están tus productos.</span>
            </li>
            <li>
              <strong>Asesoramiento continuo: </strong> 
              <span>para ajustar y mejorar los procesos según el crecimiento y necesidades de tu negocio.</span>
            </li>
          </ul>
          <p>
            Confía en LB para llevar tus operaciones al siguiente nivel con un servicio de logística y distribución que combina eficiencia, confiabilidad y tecnología de punta.
          </p>
        </div>
      </div>
    </div>
  </main>
  <!--footer-->
  <app-footer class="mt-auto"></app-footer>
</div>
