<div class="app-container">
    <!--navbar-->
    <app-navbar></app-navbar>
    <!--page-->
    <main class="flex-grow-1">
      <!--title-->
      <div class="container-fluid bg-warning d-flex justify-content-center">
        <div
          class="container text-white container-consultoria d-flex justify-content-between mt-2"
        >
          <h1>SERVICIOS DE SOPORTE TÉCNICO</h1>
          <div class="d-flex small mt-2">
            <a
              class="nav-link active link me-2"
              aria-current="page"
              routerLink="/inicio"
              >Inicio</a
            >
            <p class="mx-2 next">>></p>
            <a
              class="nav-link link ms-2"
              aria-current="page"
              routerLink="/consultoria"
              >Consultoría</a
            >
            <p class="mx-2 next">>></p>
            <a class="nav-link link ms-2"> Servicios de soporte técnico</a>
          </div>
        </div>
      </div>
      <!--info-->
      <div class="container container-expandido">
        <div class="row">
          <!-- Image Section -->
          <div class="col-md-6 mt-5 mb-5">
            <img
              class="img-fluid"
              src="../../../../assets/img/consultoria/servicios-soporte-tecnico.webp"
              alt="Servicios de soporte técnico"
            />
          </div>
          <!-- Text Section -->
          <div class="col-md-6 mt-5 mb-5">
            <p>
            Contamos con un equipo de técnicos altamente capacitados que brindan soluciones rápidas y efectivas, tanto preventivas como correctivas, para mantener tus equipos en óptimas condiciones. Nuestro enfoque está en ofrecer un servicio personalizado que se adapte a las necesidades específicas de cada cliente, garantizando siempre la máxima calidad y eficiencia.
            </p>
            <p>Nuestro servicio incluye:</p>
            <ul>
              <li>
                <strong>Diagnóstico y reparación de equipos: </strong> 
                <span>identificamos y solucionamos problemas técnicos con rapidez y precisión.</span>
              </li>
              <li>
                <strong>Mantenimiento preventivo: </strong> 
                <span>servicios periódicos para asegurar el buen estado y la longevidad de tus equipos.</span>
              </li>
              <li>
                <strong>Asesoría técnica: </strong> 
                <span>te orientamos sobre el uso adecuado y el cuidado de tus sistemas para maximizar su rendimiento.</span>
              </li>
              <li>
                <strong>Instalación y configuración: </strong> 
                <span>realizamos la puesta en marcha de nuevos equipos o sistemas, asegurando que funcionen de manera óptima.</span>
              </li>
              <li>
                <strong>Soporte post-servicio: </strong> 
                <span>ofrecemos asistencia continua para resolver cualquier inconveniente que pueda surgir después de la intervención.</span>
              </li>
            </ul>
            <p>
              Confía en LB para mantener tus equipos funcionando de manera eficiente con un servicio técnico confiable y profesional, adaptado a tus necesidades.
            </p>
          </div>
        </div>
      </div>
    </main>
    <!--footer-->
    <app-footer class="mt-auto"></app-footer>
  </div>
  