<div class="app-container">
<!--navbar-->
<app-navbar></app-navbar>
<!--page-->
<main class="flex-grow-1">
<!--title-->
<div class="container-fluid bg-warning d-flex justify-content-center">
  <div class="container text-white container-consultoria d-flex justify-content-between mt-2">
    <h1>INSTALACIÓN DE CÁMARAS DE SEGURIDAD</h1>
    <div class="d-flex small mt-2">
      <a class="nav-link active link me-2" aria-current="page" routerLink="/inicio">Inicio</a>
      <p class="mx-2 next">>></p>
      <a class="nav-link link ms-2" aria-current="page" routerLink="/servicio_tecnico">servicio tecnico</a>
      <p class="mx-2 next">>></p>
      <a class="nav-link link ms-2">Instalación de cámaras de seguridad</a>
    </div>
  </div>
</div>
<!--info-->
<div class="container container-expandido d">
  <div class="row d-flex justify-content-center">
    <div class="col-md-6 mt-5 mb-5">
      <img class="img-fluid" src="../../../../assets/img/servicio_tecnico/instalacion_camara_seguridad.webp" alt="instalación de cámaras de seguridad" />
    </div>
    <div class="col-md-6 mt-5 mb-5">
      <p>En LB, ofrecemos un servicio técnico profesional y especializado en la instalación de cámaras de seguridad para proteger lo que más importa. Nos enfocamos en brindar soluciones a medida para hogares, negocios y empresas, asegurando la máxima eficiencia y confiabilidad en cada proyecto.</p>
      <p>Nuestro equipo de técnicos certificados se encarga de cada etapa del proceso, desde el asesoramiento y la planificación personalizada hasta la instalación y el soporte continuo. Utilizamos tecnología de última generación y realizamos instalaciones con los más altos estándares de calidad, garantizando imágenes claras y monitoreo efectivo en todo momento.</p>
      <p>Además, nuestro servicio incluye:</p>
      <ul>
        <li><strong>Evaluación del entorno</strong><span> para determinar la ubicación óptima de cada cámara.</span></li>
        <li><strong>Instalación y configuración profesional</strong><span>, asegurando que el sistema funcione sin problemas desde el primer día.</span></li>
        <li><strong>Asesoramiento en el uso y mantenimiento del sistema</strong><span>, brindando tranquilidad y control sobre el monitoreo.</span></li>
        <li><strong>Soporte técnico</strong><span> post-instalación para resolver cualquier consulta o ajuste que necesites.</span></li>
      </ul>
      <p>Confía en LB para proteger tu espacio con soluciones de seguridad confiables y adaptadas a tus necesidades.</p>
    </div>
  </div>
</div>
</main>
<!--footer-->
<app-footer class="mt-auto"></app-footer>
</div>