<div class="app-container">
<!--navbar-->
<app-navbar></app-navbar>
<!--page-->
<main class="flex-grow-1">
<!--title-->
<div class="container-fluid bg-warning d-flex justify-content-center">
  <div class="container text-white container-consultoria d-flex justify-content-between mt-2">
    <h1>SOLUCIONES DE ALMACENAMIENTO Y BACKUP</h1>
    <div class="d-flex small mt-2">
      <a class="nav-link active link me-2" aria-current="page" routerLink="/inicio">Inicio</a>
      <p class="mx-2 next">>></p>
      <a class="nav-link link ms-2" aria-current="page" routerLink="/servicio_tecnico">servicio tecnico</a>
      <p class="mx-2 next">>></p>
      <a class="nav-link link ms-2">Soluciones de almacenamiento y backup</a>
    </div>
  </div>
</div>
<!--info-->
<div class="container container-expandido">
  <div class="row">
    <div class="col-md-6 mt-5 mb-5">
      <img class="img-fluid" src="../../../../assets/img/servicio_tecnico/soluciones_de_almacenamiento_y_backup.webp" alt="Soluciones de almacenamiento y backup" />
    </div>
    <div class="col-md-6 mt-5 mb-5">
      <p>La información en una empresa es el intangible más importante; debido a que es el conjunto de políticas, procesos, planes estratégicos, análisis, etc. que representan el trabajo y esfuerzo de los colaboradores de la empresa.  Es por eso que, el Backup informativo, dentro de una empresa, es una solución de suma importancia, ya que ofrece un respaldo ante cualquier contingencia.</p>
      <p>En LB, ofrecemos dos tipos de soluciones de  backup informativo: el offline; que protege la información ante cualquier peligro (robo, incendio, etc.) pero de manera física, es decir, en Storages o dispositivos de almacenamiento; y el híbrido, que además de tener un respaldo físico, también posee un respaldo en la nube, lo cual, aumenta la seguridad de la información; la Solución Híbrida es un tipo de backup que trabaja seleccionando, combinando e integrando las opciones y características de las diferentes modalidades de backup existentes, para ajustarse lo más estrictamente a la empresas.</p>
    </div>
  </div>
</div>
</main>
<!--footer-->
<app-footer class="mt-auto"></app-footer>
</div>