img {
    display: block; /* Asegura que el elemento ocupe solo su espacio */
    
    object-fit: cover; /* Asegura que la imagen se vea bien dentro de sus dimensiones */
   
}

@media (max-width: 767px) {
    img {
        width: 100%; /* La imagen ocupará el 100% del ancho del contenedor */
    }
  }