<div class="container mt-5 mb-4 mt-sm-0">
  <div class="row d-flex justify-content-center">
    <div class="col-md-6">
      <h2>¡Contáctenos!</h2>
      <div>
        <p>
          Para obtener más información sobre <strong>LB</strong> y sus
          soluciones, no dudes en comunicarte con nosotros. Estaremos gustosos
          de atender cualquiera duda o sugerencia que tengan.
        </p>
      </div>
      <div>
        <p class="m-0"><strong>LB</strong></p>
        <a href="mailto:lb.consultoriainformatica@gmail.com">
          lb.consultoriainformatica&#64;gmail.com
        </a>
        <p>tel: 11 3594-9242</p>
      </div>
    </div>
    <div class="col-md-6">
      <p class="border-bottom adress pt-2" style="letter-spacing: 2px">
        <strong>DIRECCIÓN</strong>
      </p>
      <div>
        <p class="m-0">García Lorca 2479</p>
        <p class="m-0">José ingenieros (1702)</p>
        <p class="m-0">Buenos Aires - Argentina</p>
      </div>
      <p class="border-bottom adress pt-3" style="letter-spacing: 2px">
        <strong>HORARIO</strong>
      </p>
      <div>
        <p class="m-0">Lunes a Viernes de 9 a 18 hs</p>
      </div>
    </div>
  </div>
</div>
